<% if @wiki.user == current_user %>
  <%= form_tag collaborators_path, method: :post do %>
    <%= text_field_tag :username %>
    <%= hidden_field_tag :wiki_id, @wiki.id %>
    <%= submit_tag "Add Collaborator" %>
  <% end %>
<% end %>

</br>

<div class="container">
  <div class="row">
    <h4>Wiki Collaborators</h4>
    <% @wiki.collaborators.each do |collaborator| %>
      <p>
        <%= collaborator.user.username %>
        <% if @wiki.user == current_user %>
          <%= link_to "", [collaborator], method: :delete, class: 'glyphicon glyphicon-ok' %>
        <% end %>
      </p>
    <% end %>
  </div>
</div>
